body {
  color: #FF0000;
   background-color: #EEEEEE;
   font-size: 45px;    /* Light gray */
}
h1 {
  font-size: 36px;
  background-color: blue;
   padding: 50px;
}
p{
 padding: 20px 10px;  /* Vertical  Horizontal */
}
